
@{
    ViewData["Title"] = "Array";
    Layout = "_Layout";
}

<h1>array</h1>

<form method="post">
    <p>
        <input type="text" name="[0]" />
    </p>
    <p>
        <input type="text" name="[1]" />
    </p>
    <p>
        <input type="text" name="[2]" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>